//VARIABLES
$primary-color: salmon;
$background-gradient: #cccccc, white;
$font: Verdana, Geneva, sans-serif;
$text-color: #333;
$link-color: white;

@mixin simple{
    background-color: $primary-color;
    text-align: center;
}

*{
    font-family: $font;
    padding: 0;
    margin: 0;
}
html{
    background: white; 
    background: -webkit-linear-gradient($background-gradient); 
    background: -o-linear-gradient($background-gradient);
    background: -moz-linear-gradient($background-gradient); 
    background: linear-gradient($background-gradient); 
    background: 100%;
}
header{
    text-align: center;
    background: whitesmoke;
    color: #333;
    border-bottom: 2px solid complement($primary-color);
    padding: 10px
}
nav {
    @include simple;
    padding: 3px; 
  
    li{
         @extend figure;
         
        a {
                     margin: 2px 10px 2px 10px;
                    padding: 5px;
                    color: $link-color;
                    text-decoration: none;
                   
                    font-family: serif; 
                    &:link{
                        color: $link-color; 
                    }
                    &:hover{
                        color: darken($link-color, 10%); 
                    }
                    &:active{
                        font-weight: bold; 
                    }
        }
     }
}
  
nav ul {
    list-style-type: none;
 }
  

        
nav font{
    font-family: $font;
}

footer {
        @include simple;
        color: $text-color;
        min-height: 30px;
        padding: 5px;
        a{
            color: $link-color;
            &:link{
                color: $link-color;
            }
            &:visited{
                color: $link-color;
            }
            &:hover{
                color: darken($link-color, 10%);
            }
            &:active{
                font-weight: bold;
            }
        }
}


figure {
          
        display: inline-block;
        margin: 5px;
        padding: 5px; }
          
        
#container{
        width: 960px;
        text-align: center;
        margin: 0 auto;
        min-height: 270px;
        max-height: 750px;
        margin-bottom: 15px;
        padding: 10px;
        }
        
p{
        color: $text-color;
    }
